{% extends "::layout.html.twig" %}

{% block body %}
  <h1>{{ audit_assoc(log.source) }}<small>audit diff</small></h1>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-archive"></i> {{ audit_assoc(log.source) }}</h3>
    </div>

    {% if log.action == 'insert' %}
      <ul class="list-group">
        {% for field, change in log.diff %}
          <li class="list-group-item">
            <span class="badge">{{ audit_value(change.new) }}</span>
            {{ field }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <table class="table table-striped">
        <tr>
          <th>Field</th>
          <th>Old</th>
          <th>New</th>
        </tr>
        {% for field, change in log.diff %}
          <tr>
            <td>{{ field }}</td>
            <td>{{ audit_value(change.old) }}</td>
            <td>{{ audit_value(change.new) }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

  </div>
{% endblock %}
