<tr>
  <td class="col-min">
    <span class="label label-warning"><i class="fa fa-random"></i></span>
  </td>
  <td>
    <strong>{{ log.source.typLabel }}</strong> {{ audit_assoc(log.source) }} was dissociated from
    <strong>{{ log.target.typLabel }}</strong> {{ audit_assoc(log.target) }},
    {{ audit_blame(log.blame) }}
  </td>
  <td class="col-min">{{ time_diff(log.loggedAt) }}</td>
  <td class="col-min"></td>
</tr>
