{% extends "::layout.html.twig" %}

{% block body %}
  <h1>Audit</h1>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-3">
          <h3 class="panel-title"><i class="fa fa-archive"></i> Audit</h3>
        </div>
        <div class="col-md-3">
          {{ filter_search(logs, "history", "Search by primary key..") }}
        </div>
        <div class="col-md-3">
          {{ filter_dropdown(logs, "blamed", users) }}
        </div>
        <div class="col-md-3">
          {{ filter_dropdown(logs, "class", sourceClasses) }}
        </div>
      </div>
    </div>

    <table class="table">
      <tbody>
        {% for log in logs %}
          {{ audit(log) }}
        {% endfor %}
      </tbody>
    </table>

    <div class="panel-footer">
      {{ pagination(logs) }}
    </div>
  </div>
{% endblock %}
